.quarto-figure-center > figure > p
{
  text-align: left;
}
.figure-img
{
  margin-bottom: 0;
}
figure > figcaption
{
  margin-top: 0;
}

.footerRight
{
  position: absolute;
  right: 10px;
  bottom: 60px;
  font-size: 20px;
}

.footerLeft
{
  position: absolute;
  left: 10px;
  bottom: 60px;
  font-size: 20px;
}

.centering
{
  display:block;
  text-align:center;
}

.pageRef
{
  position: absolute;
  bottom: 0;
  right: 0;
}
h2
{
  /* font-family: 'Times New Roman', Times, serif !important; */
}
h1.title
{
/*  font-size: 70px;
  color:#18453b !important;
  line-height: 70px;
  text-align: center;
  font-family: Helvetica !important;*/
}
.subtitle
{
/*  font-size: 45px;
  line-height: 50px !important;
  text-align: center;*/

}
.quarto-title-affiliation::first-line
{
  /* in case you want the first line of affiliation to look different from the rest */
}
.quarto-title-affiliation
{  
  margin: 0 !important;
  /* being used to style the GitHub link */
  text-align: left;
  font-size: 40px !important;
}
.quarto-title-author
{
  padding-left: 0 !important;
}
.quarto-title-authors
{
  margin-top: 17%;
  font-weight: normal;
  font-size: 40px;
  justify-content: left !important;
  text-align: left;
 /* font-family: 'Times New Roman', Times, serif !important;*/
}
.quarto-title-author::first-line
{
  /* in case you want the name to look different than the email */
}
.date
{
/*  margin: 0 !important;
  text-align: left;
  font-size: 40px;*/
 /* font-family: 'Times New Roman', Times, serif !important;*/
}
.backgrounds>.quarto-title-block
{
/* Background images will not render when printed to PDF 
  background-image:url("https://qfcatmsu.github.io/Images/dark-big.png");
  background-repeat:no-repeat;
  background-position: 97% 97%;
  background-size: 40%; */
}
div.slide-number
{
  width: 100%;
  text-align: center;
}
ul, ol, li, p
{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

ul,ul ul ul, ul ul ul ul ul
{
  list-style-type: disc !important;
}

ul ul, ul ul ul ul, ul ul ul ul ul ul
{
  list-style-type: circle !important;
}

.note
{
  color: rgb(160,64,0);
}

.hl
{
  color: darkred;
}