/* Quarto changes:
- removed pre .textBox (I think that was just a test...)

/*
email dotted underlink does not change to solid onmouseover

module.css fix:
user can select the number before code lines in all but Firefox
- add all variation of user-select: none; to ::before

needed to use !important to force style changes
- because editor.css came after and was overridding module.css
- SOLN: moved editor.css before module.css 

borders do not work if there is no predefined width and height
- use outline instead (for Code Blocks)

would like to apply styles to equations so that the can be accessible 
(i.e., user not choosing random colors) but the equation editor does not
allow one to apply style classes.

Extend flexSize to all types of objects (would need to change the execution)
*/

.transparent
{
	background-color: transparent !important;
}
.disabledLink
{
	color: gray !important;
	pointer-events: none !important;
	border-bottom-width: 0 !important;
}

/*pre, .textBox
{
	border-radius: 5px;
	border-width: 3px;
	background-color: rgb(200,200,200);
	color: rgb(0,0,0);
	padding: 10px;
	box-shadow: 10px 10px 5px grey;
	border-color: rgb(50,50,50);
	white-space: pre-wrap;
	word-wrap: break-word;
	border-style: double;
	font-family: arial;
	font-size: 22px;
	line-height: 115%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
}*/
address
{
	font-style: normal;
}
/* for multi-lined equations */
.MathJax_FullWidth
{
	text-align: left !important;
}
/* This stops left-aligned equations from being centered --
   still need something if the equation is spaced */
p:not([style*="text-align: center;"]) .math
{
	width: auto !important;
}
math, .MathJax, .eq, .equation
{
	color: rgb(79,49,9);
/*	display: inline !important;  I beleive this is deprecated as the issue was that D2L would force block -- but not anymore */ 
}
.eq, .equation
{
	font-family: MathJax_Main;  /* match the font used by MathJax */
}
body
{
	background-color: rgb(0,60,60);
	font-size: 14px;
	font-family: arial;
	line-height: 135%;
}
h1, h2, h3, h4, blockquote /* h5 */
{
	font-family: arial;
	line-height: 135%;
}
ol, ul
{
  padding-left: "1rem"; 
}
p, ul, ol, li
{
	color: rgb(0,0,0);
	line-height: 135%;
}
figure
{
	margin: 0;
	padding: 0;
}
a:link,a:visited, .email, .jsLink , a[href^="#"],a.linkback,.linkTo   /* href that begin with '#' */
{
	color: rgb(0,0,150);
	text-decoration: none;
	border-bottom: dotted 1px;
	cursor: pointer;
} 
a:hover, .email:hover, a[href^="#"]:hover, a.linkback:hover, .linkTo:hover, .jsLink:hover, a.href:hover
{
	border-bottom: solid 1px;  /* this does not work for email -- they are not <a> */
} 
h1
{
	/* h1 is essentially the title of the lesson */
	font-size: 24px;
	color: rgb(0,0,100);
	width: 100%;
	text-align: center;
	line-height: 100%;
}
.h1Div
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;	
	background-color: rgb(220,220,220);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: auto;
}
h2
{
	font-weight: 700;
	color: rgb(100,0,0);
	font-size: 20px;
	text-align: left;
	margin-left: -12px;
	margin-top: 0px !important; /*!important;  override editor style -- no longer need -- moved editor.css before this file*/ 
	margin-bottom: 10px !important;
	margin-right: 0px !important;
	background-color: transparent; /*!important; override editor style */ 
}
h3
{
	color: rgb(0,0,100);
	font-size: 18px;
	margin: 0px !important; /*!important;  override editor style */
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: transparent; /*!important; override editor style */ 
}
h4
{
	color: rgb(90,20,20);
	font-size: 16px;
	margin: 0px !important;			
	padding-top: 10px;
	padding-bottom: 10px;
}
div > h3
{
	margin-left: -8px !important;
	padding-top: 0px;
}
div > h4
{
	margin-left: -6px !important;
}
/*h6, code  (pretty sure this is all deprecated)
{
	 editor.css sets a color for h6 but I want this overridden
		in the module and replace by the parent (which is a DIV) 
	color: inherit;
}*/
p
{
	margin: 0em !important; 
	min-height: 1.25em;
}
ul, ul ul ul, ul ul ul ul ul
{	
	list-style-type: disc; 
}
ul ul, ul ul ul ul, ul ul ul ul ul ul
{	
	list-style-type: circle; 
}
ol, ol ol ol, ol ol ol ol ol, ol ol ol ol ol ol ol
{	
	list-style-type: number; 
}
ol ol, ol ol ol ol, ol ol ol ol ol ol
{	
	list-style-type: upper-alpha; 
}
li::before /* does nothing */
{
	color: blue;
}
ol,ul
{
	margin-left: 18px !important;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
table 
{
	border-collapse: collapse;
}
td
{
	border: solid 1px rgb(100,100,100);
	padding: 3px;
}
.contentDiv  /* can be an h2Div or an h3Div */
{
	padding-left: 25px;
	padding-right: 13px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	/*overflow: auto;*/	
}
.h2Div
{
	background-color: rgb(220,220,220);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.h3Div
{
	background-color: rgb(220,220,220);	
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.h2NextDiv
{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.h3NextDiv
{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.nonlinear  /* extensions or traps */
{
	background-color: rgb(210,210,220);	
}
.bib
{
	text-indent: -20px;
	padding-left: 20px; 
	font-size: 12px;
}	
.hl,.highlight
{
	color: darkred;
	font-style: italic;
}
.error
{
	color: darkred;
	background-color: yellow;
}
/*** Code typesettings ****/
.code
{	
/*	white-space: nowrap;
	word-wrap: break-word; */
	display: block;
	line-height: 1.7em;	
	font-style: normal;	
	font-weight: normal;	
	font-size: 14px;
/*	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0; Done with p */
	margin-left: 22px;  /* Not sure how to avoid this yet ... */
	text-indent: -22px;
	letter-spacing: -0.3px;
	padding-left: 0.5em;
	background: none; /* gets rid of background from editor.css */
	background-color: rgb(33,33,33);
	font-family: "Lucida Console", Menlo, "Courier New", Courier, Monaco, Monospace;
}
td > p.code, td > p.code > span.code
{
	text-indent: -22px;
	left: 0px;
}
/*.code::after, .codeBlockTab::after
{	/* This is a hack for IE so unselectable text will not be copied 
	content: attr(data-text);
}
.code .hl,.code .highlight,.code.hl, .code.highlight
{
	color: yellow;
	font-style: normal;  /* remove italics, which makes some code chars look confusing 
}
.code .email, .code.email
{
	color: pink;
}
.code .ref, .code.ref, .code .ref[id], .code.ref[id]
{
	color: lime;
}
.code .note, .code.note
{
	color: orange;
}
.code a
{
	color: YellowGreen;
}
.codeBlock
{
	cursor: pointer;
	position: static; /* absolute; 
	color: rgb(100,255,255);
	margin-left: -8px !important;
	max-height: 400px;
	overflow-y: auto;
	/* works only in Firefox -- make scrollbar easier to see in Windows 11 
	scrollbar-color: lightblue black;
	/* reset the codeLines counter when a new codeBlock starts 
	counter-reset: codeLines;
}
.codeBlock[title="Console"], .codeBlock[title="Environment"], .text  
{
	color: rgb(180,255,180);	
}	
.codeBlock:hover
{
	/* instead of a border -- cannot use border becuase there
	   is no height set on the code-blocks so the border automatically
		changes the size of the box (so the box-sizing property does not work 
	outline: 2px solid rgb(150,250,50);
}
/*.codeBlock:not(.nonum) > .code:not(.noSelect):before, .codeBlock.num > .code:not(.noSelect):before*/
/*.codeBlock:not(.nonum) > .code:before
{	
	counter-increment: codeLines;
	content: counter(codeLines);
}*/
/*.codeBlock:not(.nonum) > .code:before, .codeBlock.num > .code:before */

.codeBlock.num > .code:before 
{	
	counter-increment: codeLines;
	content: counter(codeLines);
	display: inline-block;
	padding-right: 5px; /* space between line number and horizontal line 
	margin-right: 5px;  /* space between horizontal line and code 
	min-width: 25px;
	text-align: right;
	user-select: none;			/* standard but not used (might be fully implemented by now...) 
 	-webkit-user-select: none;  /* Safari       
/*	-moz-user-select: none;  	 Firefox 
/*	-ms-user-select: none;		 IE10+ 
	margin-left: -13px;
}
.codeBlockTab
{
	background-color: rgb(50,50,50);
	color: rgb(240,240,240);
	text-align: center;
	margin-left: -8px;
	display: inline-block;
	font-size: 14px;
	border-radius: 4px 4px 0px 0px;
	min-width: 100px;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	font-family: calibri;
}*/
.vertBar
{
	display: inline-block;
	width: 1px;
	margin-left: 47px;
	border-width: 0;
	background-color: rgb(200,200,100);
	position: absolute; /*fixed;*/
	margin-top: 0;
}
/*.partial>.code, .p>.code
{
	color: rgb(180,255,180);	
}  -- come up with a better way to do this 
.text  /* since this is for codeblocks, this shouls also be replaced 
{
	color: rgb(255,255,255);	
} */

/* if an element does not contain class="code" but the next element does */
:not([class*='code']) + .code
{
	/* these styles will be applied to the next element (class="code") */
	/* padding-top: 7px;  /* unsure why this is needed */
}
.noCode
{
	background-color: rgb(50,50,50);	
}
.overflowArrow
{
	color: yellow;
	position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/*** end of code typesettings ****/
.noSelect
{
	user-select: none;			/* standard but not used */
	-webkit-user-select: none;  /* Chrome/Safari  */      
	/*-moz-user-select: none;  	 Firefox */
	/*-ms-user-select: none;		 IE10+ */
	outline-style: none;
}

/* double-clicking on the div will still hightlight the unselectable lines --
   this make the hightlight color the same as the background color */
.noSelect::selection
{
/*	background-color: rgb(50,50,50);*/
}
.noSelect::-moz-selection
{
/*	background-color: rgb(50,50,50);*/
}
.note
{
	color: rgb(160,64,0);
	font-style: italic;
}

.eqNum
{
	font-size: 14px;
	align-self: center;
	white-space: "nowrap";
}

.caption, .figNum, .figureRef[id], .c, .fr[id], .eqNum, .eqRef[id], .sectRef[id], .ref[id], .reference[id]
{
	color: rgb(0,100,100);
	font-style: italic;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
/*	font-weight: normal;
	font-size: 14px;*/
}
.sectRef[id], .eqRef[id], .figureRef[id], .figRef[id], .ref[id], .reference[id]
{
	color: rgb(0,0,200);
	cursor: pointer;
	text-decoration: none;
	border-bottom: dotted 1px;
}
.sectRef[id]:hover, .eqRef[id]:hover, .figureRef[id]:hover, .figRef[id]:hover, .ref[id]:hover, .reference[id]:hover
{
	border-bottom: solid 1px;
}
.firstLine, .fl
{
	padding-top: 0px;
}
.lastLine, .ll
{
	padding-bottom: 0px;
}
div.scrollCell  
{
	height: 100%;
	width: 100%;
	overflow-y: auto;
	margin: 0;
	padding: 0;
}

.rcMenu  /* the right-click menu */
{
	/* should it start as display: none; ?? */
	display: block;
	visibility: hidden; 
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
	background-color: rgb(230,230,230);
	z-index: 100;
	box-shadow: 4px 4px 3px #555555;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(130,130,130);
}
.linkback
{
	padding: 10px;
	display: block;
/*	position: relative;
	top: 50%;
	right: 0;*/
}
.flexButton
{
	background-color: orange;
	font-size: 30px;
	vertical-align: 30%;
}
.flexButton:hover
{
	color: rgb(50,50,255);
}
.resize
{
	position: fixed; /* the trouble is that the lesson is in an iframe so this really does nothing */
	bottom: 10px; 
	right: 10px; 
	height: 20px; 
	z-index:100; 
	background-color: rgb(0,0,0); 
	color: rgb(150,255,150);
}
.headerDiv
{
	overflow: auto;
}
.resize:hover
{	
	color: rgb(150,150,255);
}
img
{
	max-width: 100%;
	/*max-height: 100%;*/
}
img.flexSize, img.fs
{
	border-color: red;
	border-width: 1px;
	border-style: dotted;
	cursor: pointer;
}
.lessonLink
{
	font-size: 14px;
	width: 325px;
	background-color: #cccccc;
	display: inline-block;
	/* if you change the padding, need to change in print mode, too */
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 3px;
	padding-top: 3px;
	border-radius: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
}
.previousLesson, .pl
{
	float: left;
	text-align: left;
}
.nextLesson, .nl
{
	float: right;
	text-align: right;
}
.previousLesson:not(.lessonLink), .pl:not(.lessonLink), .nextLesson:not(.lessonLink), .nl:not(.lessonLink)
{
	display: none;	
}
.homePage
{
	width: 80px;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.figureRef[id], .fr, .eqNum[id], .eqRef[id]
{
	text-decoration: none;
}
.screenNote
{
	font-family: garamond;
	color: rgb(100,0,0);
}
.refObjHighlight
{
	background-color: yellow;
	color: black;
}


table.frontPage
{
	border-collapse:separate !important;
	border-spacing: 10px;
	border-width: 0px;
	border-radius: 10px;
	width: 100% !important;
	/*margin-left: -12px;
	width: 102% !important;	
	margin-top: -12x;*/
	background-color: #18453b;
}

table.frontPage a:link, a:visited, a:hover
{
	color: #18453b !important;
	text-decoration:none !important;
}
table.frontPage div
{
	background-color: transparent;
}
table.frontPage hr
{
	color: #18453b;	
}

table.frontPage td
{
/*	box-shadow: 0 0 0 8px #bbb;*/
	border-radius: 10px;
	border-width: 0px;
	padding: 5px;
	background-color: #eee;
	vertical-align: top;
	font-size: 16px;
}

td ul, td ol
{
	padding-left: 1em !important;
	margin-top: 0 !important;
}

@media only screen and (max-width: 820px) 
{
	.lessonLink
	{
		/* 18px is padding-left (9px) + padding-right (9px) -- 
			would like to use variables instead */
		width: calc(100% - 18px); 
		display: block;
	}
	
	.nextLesson, .previousLesson, .nl, .pl 
	{
	  float: none;
	}
	
	.nextLesson, .nl
	{
		text-align: left;
	}
	
	.homePage
	{
		text-align: left;
		display: inline-block;
		/*margin: 0;*/
	}
}
@media only print
{
	body
	{
		text-rendering: optimizeLegibility;
	}
	body, .h1Div, .h2Div, .h3Div, .nonlinear, .title
	{
		background-color: transparent;
	}
	.title>a    /* Get rid of printer icon */ 
	{
		display: none;
	}
	a
	{
		text-decoration: none !important;  /* why?? what is superceding this? */
		border-bottom: dotted 1px;
	}
	.lessonLink, .concept, .resize, iframe 
	{
		display: none; margin: 0; padding: 0; height: 0; width: 0;
	}
	img
	{
		page-break-inside: avoid; /* Images naturally do this? */
		/*max-width: 100%;
		height: auto !important; */
	}
	img.flexSize, img.fs
	{
		/* The dotted border causes crashes on prin t-- don't know why */
		border-style: none;
	}
	.codeBlockTab
	{
		color: black;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: lightgray;
	}
	.code .hl,.code .highlight,.code.hl, .code.highlight
	{
		/*font-weight: bold !important;
		font-style: italic !important;*/
		color: rgb(100,0,0);
		/* Lucida Console does not do bold or italics well in print mode 
		   -- instead going to do a light underline */
		text-decoration: underline;
		/* for some reason, light gray turn to black in print ?!? */
		text-decoration-color: aqua;  	
	}
	.code .note,.code.note
	{
		color: rgb(75,75,0);
	}
	.code 
	{

      /* Get rid of the background-color when printing */
		background-color: transparent;	
		color: rgb(0,0,153);
		font-size: 13px;
		white-space: normal;
		word-wrap: break-word;

		/* adjust the font color for a white background 
		   -- it was designed for a black background */
	}
	.codeBlock
	{
		border-bottom-width: 1px;
		border-top-width: 1px;
		border-right-width: 1px;
		padding-left: 20px;  
		margin-top: 8px;
		
		left: -20px;
		border-left-width: 1px;
		border-top-style: solid;
		border-bottom-style: solid;
		border-right-style: solid;
		border-left-style: solid;
		border-color: rgb(75,75,75);
		
		/* Need to remove scroll from print view */
		max-height: none;
		
		/* only works on Firefox -- and makes scrollbar easier to see on Firefox in Windows 11 */
		scrollbar-color: lightblue black;
	}
	/*.code:not(.nonum)>.code*/
	.code.num>.code
	{ 
/*		margin-left: 4px;
		text-indent: -22px; Not needed anymore*/
	/*	margin-right: -10px;*/
	}
	.vertBar
	{
		display: none; /* too inconsistent */ 
		/*margin-left: 24px;
		border-right-color: rgb(102,0,0);
		border-right-style: solid;
		border-right-width: 1px;*/
	}
	.partial>.code, .p>.code
	{
		color: rgb(0,105,0);	
	}
	.code:before
	{
		color: rgb(102,0,0) !important;
		background-color: #d0d0d0;
	}
	.caption, .figNum, .figureRef, .c, .fr
	{
		color: rgb(90,90,0);
		font-style: italic;
	}
	pre
	{
		border-color: grey;
		border-width: 1px;
		border-style: solid;
		border-radius: 5px;
	}
	/* Need to first figure out how to "resize" screen on print */
	.overflowArrow
	{
		color: rgb(0,0,153);
		left: -30px;
		display: none;
	}
   /* hide video -- would like a more robust way to do this */
	video
	{
		display:none;
	}

}
