/* Move .rcMenu styles into .content? */

.slideshowStuff 
{
  .pageRef
  {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .quarto-title-affiliation::first-line
  {
    /* in case you want the first line of affiliation to look different from the rest */
  }
  .quarto-title-affiliation
  {  
    margin: 0 !important;
    /* being used to style the GitHub link */
    text-align: left;
    font-size: 40px !important;
  }
  .quarto-title-author
  {
    padding-left: 0 !important;
  }
  .quarto-title-authors
  {
    margin-top: 17%;
    font-weight: normal;
    font-size: 40px;
    justify-content: left !important;
    text-align: left;
   /* font-family: 'Times New Roman', Times, serif !important;*/
  }
  .quarto-title-author::first-line
  {
    /* in case you want the name to look different than the email */
  }
  .date
  {
  
  }
  div.slide-number
  {
    width: 100%;
    text-align: center;
  }
}

/* content in web documents in Quarto is contained within a .content object */ 
.content
{
  /* add padding at the bottom of the page */
  padding-bottom:15px;
  
  /* add dotted red border to images that can be resized, make solid on hover */
  img.fs, img.flexSize
  {
    border-color: lime;
    border-style: dotted;
    border-width: 1px;
  }
  img.fs:hover, img.flexSize:hover
  {
    border-style: solid;
  }
  .resizing
  {
    border-color: red !important;
    cursor: w-resize;
  }
  .title
  {
    margin-bottom: 10px !important;
  }
  /* style for the "tab" that can be optionally added to the top of a codeblock */
  .codeBlockTab
  {
  	background-color: rgb(50,50,50);
  	color: rgb(240,240,240);
  	text-align: center;
  	display: inline-block;
  	font-size: 14px;
  	border-radius: 4px 4px 0px 0px;
  	min-width: 100px;
  	position: relative;
  	padding-left: 10px;
  	padding-right: 10px;
  	font-family: calibri;
  	margin-top: 10px;
  }
  /* reduce top margin of codeblocks that have tabs on top */
  .sourceCode.hasTab
  {
    margin-top: 0;  /* tab takes up the margin space */
  }
  /* add outline to code blocks on hover,
     make copy buton inside code block the same color */
  div.sourceCode:hover
  {
    outline: 2px solid lime;
  }
  /* Quarto create (IMO) a useless link on each header -- this removes the link */
  a.anchorjs-link
  {
    display: none;
  }
  /* add a line above the header 2 and 3 */
  section.level2
  {
    box-shadow: 0 -9px #18453B;
  }
  section.level3
  {
    box-shadow: 0 -3px #18453B;
  }
  /* default figure to left-align -- don't think this is needed anymore
     because this can be set in _quarto.yml */
  .quarto-figure-center > figure > p
  {
 /*   text-align: left;*/
  }
  /* put caption directly under image in figure (needed??) */
  .figure-img
  {
    margin-bottom: 0; 
  }
  figure > figcaption
  {
    margin-top: 0;
  }
  /* Avoid default double-spacing prominent in web design */
  ul, ol, li, p
  {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  /* every odd level of bullets is a filled circle */
  ul,ul ul ul, ul ul ul ul ul
  {
    list-style-type: disc !important;
  }
  /* every even level of bullets is a outlined circle */
  ul ul, ul ul ul ul, ul ul ul ul ul ul
  {
    list-style-type: circle !important;
  }
  /* reduce indentation of lists (which I feel is too much) */
  ol, ul
  {
    padding-left: 1rem; 
  }
  /* note and hl are classes I defined */
  .note
  {
    color: rgb(160,64,0);
  }
  .hl
  {
    color: darkred;
  }
  /* highlighting in codeblock */
  code b
  {
    background-color: rgb(255,255,200);
  }
  /* highlighting on in-page object that is linked to */
  .refObjHighlight
  {
    background-color: yellow;
  }
  /* header styling */
  h1
  {
  	color: rgb(0,0,100);
  	width: 100%;
  	text-align: center;
  }
  h2, h2>.header-section-number
  {
  	color: rgb(100,0,0);
  }
  h3, h3>.header-section-number
  {
  	color: rgb(100,0,0);
  }
  h4, h4>.header-section-number
  {
  	color: rgb(90,20,20);
  }
  /* in-page links and references style */
  .quarto-xref, a.inpageLink, figcaption 
  {
  	color: rgb(90,90,0);
  }
  /* any kind of link (need quarto-href ??)*/
  a, .quarto-xref  
  {
   	border-bottom: dotted 1px;
    cursor: pointer !important;
    text-decoration: none;
  }
  /* any kind of link on hover */
  a:hover
  {
  	border-bottom: solid 1px;
  } 
  /* link to outside page */
  a
  {
    color: rgb(0,0,150);
  }
}

/* links outside of content page */
a:hover
{
	cursor: pointer;
} 

/* style for long-click menu (which is outside of content) */
.rcMenu  /* the right-click menu */
{
	/* should it start as display: none; ?? */
	display: block;
	visibility: hidden; 
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
	background-color: rgb(230,230,230);
	z-index: 100;
	box-shadow: 4px 4px 3px #555555;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(130,130,130);
}
.rcMenu a
{
  border-bottom: dotted 1px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(90,90,0); 
}
.rcMenu a:hover
{
	border-bottom: solid 1px;
} 
  
.toc-active, .sidebar-menu-container,main
{
  background-color: rgb(245,250,250) !important;
  border-radius: 10px;
  padding-left: 10px; 
  padding-right: 10px;
}
.toc-active
{
  padding-top: 10px; 
  padding-bottom: 10px;
}
#quarto-content, .sidebar
{
  background-color: #18453B !important;
}

@media print
{
  /* wrap code to next line in print mode */
  pre > code.sourceCode
  {
    white-space: pre-wrap !important;
  }
  /* Quarto has a large indentation of code in print mode -- don't know why */
  pre > code.sourceCode > span
  {
    padding-left: 0 !important;
  }
  #quarto-document-content, body
  {
    /* extra padding not needed in print mode */
    padding: 0 !important;
  }
  /* in print mode, Quarto will display the secondary header --
     would rather have the primary header */
  #quarto-header, #quarto-sidebar-glass, #quarto-margin-sidebar  /* secondary header */
  {
    display: none !important;
  }
  h1.title /* primary header */
  {
    display: block !important;
  }
	.title>a, video    /* Get rid of printer icon and videos */ 
	{
		display: none !important;
	}
	/** stop lines from breaking in the middle on page break
	    works in Edge and Chrome but not Firefox */
	img, p, h1, h2, h3, h4, figure, li
	{
		break-inside: avoid; /* Images naturally do this? */
	}
	/* gets page breaks working in Firefox */
	div
	{
		display: block !important; 	  
	}
	code b
  {
    text-decoration: underline;
    text-decoration-color: aqua;
    text-underline-offset: 4px;
  }
  .codeBlockTab
  {
    /* not sure why I have to repeat this in print mode */
    border-style: solid;
    border-color: gray;
    border-width: 1px;
  }
}
  